// Bootstrap variables
// Cromatic palette inspiration: https://color.adobe.com/es/Flat-UI-color-theme-2469224/edit/?copy=true&base=1&rule=Custom&selected=2&name=Copia%20de%20Flat%20UI&mode=rgb&rgbvalues=0.172549,0.243137,0.313725,0.905882,0.298039,0.235294,0.92549,0.941176,0.945098,0.203922,0.596078,0.858824,0.160784,0.501961,0.72549&swatchOrder=0,1,2,3,4
$brand-primary:         #2980B9; // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #3498DB;
$brand-warning:         #f0ad4e;
$brand-danger:          #E74C3C;