mixin postExcerpt(post)
  .post-snippet
    h2.post-title
      a(href="#")= post.title
    p.post-body
      = post.body
    p.posst-metadata
      span.post-author
        = 'Author: '
        a(href='#')
          = post.userId
      span.post-date
        = ' Date: ' + post.updatedAt