nav.navbar.navbar-default
  .container
    .col-md-12
      .navbar-header
        a.navbar-brand(href="/") Simple blog
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            p.navbar-button
              a.btn.btn-primary(href="#") Add post