extend layout
include ./mixins/posts/excerpt.jade

block content
  - each post in posts
    +postExcerpt(post)
block sidebar
  .widget.creator-about
    h3.creator-about__title About the creator  
    .creator.about__avatar
      img.img-circle(src="/public/img/profile-default.png" alt="Blog creator")
    p.creator-about__description
      | Inceptos consectetur bibendum suscipit id phasellus vestibulum ullamcorper parturient suscipit 
      | maecenas quisque ullamcorper proin urna purus ornare vulputate suspendisse est facilisi natoque in.
    p
      | Tempus dignissim a hac sed interdum inceptos praesent adipiscing adipiscing euismod eget a euismod 
      | congue nec adipiscing a. Natoque consectetur potenti ultricies adipiscing parturient mollis 
      | id at hendrerit dignissim eu lacinia inceptos vulputate dolor sagittis ac montes molestie a 
      | lorem nibh felis.