doctype
html
  head
    title #{title} - Simple blog
    link(rel='stylesheet', href='/public/css/main.css')
  body
    .main-wrapper
      .container
        .main-content
          header
            h1 Simple blog
          block content
        .sidebar
          block sidebar
      footer
        p Blog footer