doctype
html
  head
    title #{title} - Simple blog
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i", rel="stylesheet")
    link(rel='stylesheet', href='/public/css/main.css')
  body
    .main-wrapper
      .container
        .col-md-8.main-content
          header
            h1: a(href="/") Simple blog
          block content
        .col-md-4.sidebar
          block sidebar
      footer
        .container
          .col-md-12
            p 
              | Viverra a venenatis litora cursus morbi facilisis ut lobortis vestibulum id a 
              | urna ut et mus sit consectetur a auctor.