mixin postExcerpt(post)
  .post-snippet
    h2.post-snippet__title
      a(href='/posts/' + post._id)= post.title
    p.post-snippet__body
      = post.excerpt
    p.post-snippet__metadata
      span.post-snippet__author 
        strong Author: 
        a(href=`/users/${post.userId}`)
          = post.userId
      span.post-snippet__date
        strong  Date: 
        span
          = post.updatedAt
      span.post-snippet__comments
        strong  Comments: 
        span
          = post.comments.length