- var formAction = `/posts/${post._id}/comment`

form.comment-form(action=formAction, method="post")
  .form-group
    textarea#comment-body.form-control(name="body") Hola que tal
  .form-group
    input.btn.btn-primary(type="submit")
  
  input(type="hidden", value=post._id)