extend ../layout

include ../mixins/posts/comment.jade

block content
  .post-single
    h1.post-single__title
      = post.title
    .post-single__content
      = post.body
    p.post-single__metadata
      span.post-snippet__author 
        strong Author: 
        a(href="#")
          = post.userId
      span.post-snippet__date
        strong  Date: 
        span
          = post.updatedAt
      span.post-snippet__comments
        strong  Comments: 
        span
          = post.comments.length
  .comment-list
    h3 Comment List
    - each comment in post.comments
      +comment(comment)

   .comment-form-container 
    h3 Add Comment
    include commentForm.jade