extend ../layout

block content
  .post-single
    h1.post-single__title
      = post.title
    .post-single__content
      = post.body
  
    p.post-single__metadata
      span.post-snippet__author 
        strong Author: 
        a(href="#")
          = post.userId
      span.post-snippet__date
        strong  Date: 
        span
          = post.updatedAt